body {
    text-align: center;
}
h1 {
    font-family: "Raleway", sans-serif;
    color: #fff;
    letter-spacing: 1PX;
    font-size: 45PX;
    font-weight: 400;
    margin: 0;
}

.instruction-game {
    font-family: "Raleway";
    color: #fff;
    letter-spacing: 1px;
    font-weight: 600px;
    font-size: 18px;
}
.instruction {
    font-family: "Raleway";
    color: #0D2C40;
    letter-spacing: 1px;
    font-weight: 600px;
    font-size: 20px;
}
header {
    background-color: #f15b31;
    color:#fff;
    padding: 30px 20px 30px 20px;
    margin: 0;
}
nav {
    background-color: #00a6b3;
    color:#fff;
    padding-top: 20px;
    padding-bottom: 20px;
}
main {
    width: 850px;
    margin: 35px auto 35px auto;
}
img {
    margin-top: 40px;
    margin-left: 8px;
    margin-right: 8px;
}
p {
    font-family: "Droid Serif", serif;
    line-height: 26px;font-size: 16px;
}
a {
    text-decoration: none;
    border-bottom: 2px solid transparent;
}
a:hover {
    border-color: #fff;
}
footer {
    text-transform: uppercase;
    padding-left: 20px;
    padding-right: 20px;
    background-color: #0D2C40;
    color:#fff;
    font-size: 14px;
    letter-spacing: .088em;
    font-weight: 500;
}
.copyright {
    float: left;
}
.message {
    float: right;
}
.name {
    color:#f15b31;
    font-weight: 700;
}
.clearfix:after {
    visibility: hidden;
    display: block;
    content: " ";
    clear: both;
    height: 0;
    font-size: 0;
    }